# these vars are for connecting to server host and setup
# Example: DROPLET_HOST="${DROPLET_HOST:-default_droplet_ip}"
DROPLET_HOST=
SSH_KEY_PATH=
SSH_USER=
PROJECT_DIR=
# PROJECT_DIR=
GIT_REPO_URL=
GIT_BRANCH=
STACK_NAME=

