services:
  pro-ftpd:
    image: pro-ftpd:latest
    ports:
      - "2222:22" # External port 2222 maps to container's internal port 22
    volumes:
      - shared-data:/home/sftpuser/uploads
      - sftp-keys:/etc/proftp/keys
    networks:
      - app_network # Connect to our custom overlay network
    deploy: # Define deployment preferences for Swarm
      replicas: 1 # Number of instances to run (1 for single node)
      restart_policy:
        condition: on-failure # Restart if container fails
  node-app:
    image: node-app:latest
    volumes:
      - shared-data:/uploads
    networks:
      - app_network # Connect to our custom overlay network
    deploy: # Define deployment preferences for Swarm
      replicas: 1
      restart_policy:
        condition: on-failure
    secrets: # Link Docker Secrets to this service
      - source: shopify_shop_domain
        target: shopify_shop_domain # File path inside container: /run/secrets/shopify_shop_domain
      - source: server_host
        target: server_host # File path inside container: /run/secrets/server_host
      - source: shopify_admin_api_access_token
        target: shopify_admin_api_access_token
      - source: shopify_api_key
        target: shopify_api_key
      - source: shopify_api_secret_key
        target: shopify_api_secret_key
  go-usa-app:
    image: go-usa-app:latest
    ports:
      - "2223:22" # 22 is the port the app is lisenting to, and docker will route requests from 2223 to 22
    volumes:
      - go-app:/app/downloads
    networks:
      - go_network
    deploy:
      replicas: 1
    secrets:
      - source: go_remote_password
        target: go_remote_password
      - source: go_remote_port
        target: go_remote_port
      - source: go_remote_url
        target: go_remote_url
      - source: go_remote_username
        target: go_remote_username
      - source: sentry_dsn
        target: sentry_dsn
      - source: ssh_host_rsa_key_go_usa
        target: ssh_host_rsa_key_go_usa
      - source: ssh_host_rsa_key_go_usa_pub
        target: ssh_host_rsa_key_go_usa_pub

volumes:
  shared-data:
  sftp-keys:
  go-app:

networks:
  app_network: # Define a custom overlay network for your services
    driver: overlay
    # or other services to this network later (not strictly needed for your current setup).
    # You could also specify `encrypted: true` here if you wanted encrypted overlay networks.
  go_network:
    driver: overlay

secrets:
  shopify_shop_domain:
    external: true
  server_host:
    external: true
  shopify_admin_api_access_token:
    external: true
  shopify_api_key:
    external: true
  shopify_api_secret_key:
    external: true
  go_remote_url:
    external: true
  go_remote_port:
    external: true
  go_remote_username:
    external: true
  go_remote_password:
    external: true
  sentry_dsn:
    external: true
  ssh_host_rsa_key_go_usa:
    external: true
  ssh_host_rsa_key_go_usa_pub:
    external: true
